.drp1{
    font-size: xxx-large;
    color: #7d8a90;
    margin-top: revert;
    font-family: emoji;
}

.drp2{
    font-size: xxx-large;
    color: #b8b036;
    margin-top: revert;
    font-family: emoji;
}

.drp3{
    font-size: xxx-large;
    color: #a1c7d4;
    margin-top: revert;
    font-family: emoji;
}

.drp4{
    font-size: xxx-large;
    color: #9c8d75;
    margin-top: revert;
    font-family: emoji;
}
